body {
    background-color: rgb(192, 55, 192);
}

.class {
    position: left;
    background-color: white;
    display: inline-block;
    height: 170px;
    width: 320px;
    margin: 5px;
    overflow: hidden;
    
}
