h1 {
    background-color: rgb(182, 182, 255);
    color: rgb(34, 34, 218);
}

.majd { 
    color: rgb(34, 34, 218);
}

.majd1 {
    color: rgb(6, 184, 255);
}
.majd2 {
    background-color: rgb(190, 175, 175);
}