body{
    box-sizing: border-box;
  }
  div{
    margin-bottom: 1%;
  }
  .container :first-child{
    height: 50%;
  }
  .container :nth-child(2){
    height: 30%;
  }
  .container :nth-child(3){
    height: 20%;
  }